ion-fab-button{
    --background: red;
  
    color:black;
  }

.estrella{
  height: 35px;
  width: 35px;
}

ion-grid{
  //background: linear-gradient(-90deg,#20478B ,#2487C9);
  justify-content: center;
  align-content: center;
  flex-direction: column;
  //color: white;
  margin-top: 10%;
}

.fotoPerfil{
  justify-content: center;
}

.imgPerfil{
  justify-content: center;
  height: 140px;
  width: 140px;
}

.estrellas{
  justify-content: center;
  margin-bottom: 10%;
}

.calificacion{
  justify-content: center;
  font-size: 32px;
}

.titulo{
  font-size: 16px;
  margin-left: 25px;
  color: grey;
}

.respuesta{
  font-size: 24px;
  margin-bottom: 15px;
  margin-left: 25px;
}