<ion-header>
 
</ion-header>

<ion-content padding>
  <ion-toolbar >
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/home" text="" icon="chevron-back-outline">
      
      </ion-back-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
 
  
  
   <!--<ion-item *ngFor="let item of items | async">
      {{item | json}}
    </ion-item>
    -->
    <div id="Noticias">
      <div class="Noticia" *ngFor="let noti of Noti">
      <div id="card">
        <ion-card>
          <img src="{{noti.img}}" height=300px alt="No Picture">
          <ion-card-header>
            <ion-card-title>{{noti.Titulo}}</ion-card-title>
            <ion-card-subtitle> Valido hasta 08/11/2020</ion-card-subtitle>
           
          </ion-card-header>
          <ion-card-content>{{noti.Cuerpo}}</ion-card-content>
        </ion-card>
      </div>
      </div>
      <div id="card">
        <ion-card>
          <img src="" alt="No Picture">
          <ion-card-header>
            <ion-card-title>Chequear este link para lo async</ion-card-title>
            <ion-card-subtitle> Valido hasta 08/11/2020</ion-card-subtitle>
           
          </ion-card-header>
          <ion-card-content>https://ionicframework.com/docs/api/refresher</ion-card-content>
        </ion-card>
      </div>
    </div>
    
</ion-content>
