<div class='mid'>
  <ion-text color="secondary">
    <h1>Conductor Encontrado!</h1>
  </ion-text>
  
  <ion-row>
    <ion-text color="primary">
      <h2>Alexandra Torres</h2>
    </ion-text>
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
    
  </ion-row>
  <ion-text>
    <p>{{startMarker.metodo}}</p>
  </ion-text>
  <ion-text class="price">
    <p>${{startMarker.price}}</p>
  </ion-text>
  <div class="btns">
    <ion-button color="primary" (click)="presentToast()">Aceptar</ion-button>
    <ion-button color="primary" (click)="DismissClick()">Cancelar</ion-button>
  </div>
</div>

