
<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-bg">
    <div class="toolbar-content">
        
      <img class="center-img" src="assets/imgs/LOGO1.png">
      <ion-avatar>        <img src="assets/icon/avatar.png">      </ion-avatar>
      <ion-button fill="clear" slot="start">
        <ion-menu-button color= "light" slot="start"></ion-menu-button>
      </ion-button>   
    </div>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div #map id="map"  style="height: 100%">  </div>


  <div id="menuOp" class="menuop">
    <ion-grid>
      <div id="parametrosViaje">
        <ion-row>
          <ion-label class="tipolbl">Seleccione el Tipo de vehículo </ion-label>
        </ion-row>
        <ion-row>
          <ion-segment class="vehiculoSegment" scrollable value="1">
            <ion-segment-button (click)="SelectTransport(item)" *ngFor="let item of vehiculos">
              <ion-icon name="car-sport-outline"></ion-icon>
              <ion-label> {{item.tipoCarro}}</ion-label>
              <ion-checkbox  class="checkbox-round" mode="ios" [(ngModel)]="item.isChecked"></ion-checkbox>
            </ion-segment-button>
          </ion-segment>
        </ion-row>

        <ion-row>
          <ion-label class="tipolbl" >Seleccione la forma de pago </ion-label>
        </ion-row>
        <ion-row>
          <ion-segment class="paymentSegment" scrollable value="1">
            <ion-segment-button (click)="SelectPayment(item)" *ngFor="let item of tipoPago">
              <ion-label> {{item.tipoPago}}</ion-label>
              <ion-checkbox mode="ios" [(ngModel)]="item.isChecked"></ion-checkbox>
            </ion-segment-button>
          </ion-segment>
        </ion-row>

        <ion-row>
          <ion-label class="tipolbl" >Seleccione el servicio</ion-label>
        </ion-row>
        <ion-row>
          <ion-segment class="serviceSegment" scrollable value="1">
            <ion-segment-button (click)="SelectService(item)" *ngFor="let item of tipoServicio">
              <ion-label> {{item.tipoServicio}}</ion-label>
              <ion-checkbox mode="ios" [(ngModel)]="item.isChecked"></ion-checkbox>
            </ion-segment-button>
          </ion-segment>
        </ion-row>
      </div>
 
 
      <div id="opcionesBuscar">
        <ion-label id="UbIn">Escriba su <b>ubicación incial</b> a continuacion</ion-label>
        <ion-searchbar searchIcon="flag-outline" id="inicio" debounce="10" [(value)]="resultInit" [(ngModel)]="searchInit" (ionChange)="searchChangedInit()" placeholder="¿Desde dónde quieres ir?"  (ionClear)="ClearAutocomplete()"></ion-searchbar>
        <ion-label id="UbInManual">O fije su <b>ubicación inicial</b> manualmente </ion-label>
        <ion-list id="resultadosInicio">
          <ion-item (click)="SelectSearchResultInit(result)" *ngFor="let result of searchResultsInit">
            {{ result.description }}
          </ion-item>
        </ion-list>
        <ion-button  id="EUMI" (click)="seleccionarInicio()">FIJAR UBICACION INICIAL MANUALMENTE</ion-button>

        <ion-label id="UbFin">Escriba su <b>ubicación final</b> a continuacion</ion-label>
        <ion-searchbar searchIcon="flag" id="destino" debounce="10" [(value)]="resultFini" [(ngModel)]="searchEnd" (ionChange)="searchChangedEnd()" placeholder="¿A dónde quieres llegar?"  (ionClear)="ClearAutocomplete()"></ion-searchbar>
        <ion-label id="UbFinManual">O fije su <b>ubicación final</b> manualmente </ion-label>
        <ion-list id="resultadosDestino">
          <ion-item (click)="SelectSearchResultEnd(result)" *ngFor="let result of searchResultsEnd">
            {{ result.description }}
          </ion-item>
        </ion-list>
        <ion-button id="EUMF" (click)="seleccionarFin()">FIJAR UBICACION FINAL MANUALMENTE</ion-button>
      </div>
   


      
      <ion-row class="elegirini">
        <ion-button id="OOI" (click)="ocultarOpciones()"><img class="pointer" src="assets/icon/pointer_rojo.png">Seleccionar punto de partida y de llegada</ion-button>
        <ion-button id="MOI" (click)="mostrarOpciones()">CONTINUAR</ion-button>
     
      </ion-row>
       
      <ion-button id="aceptar" class="BuscarRide" (click)="aceptarBoton()" >CONFIRMAR SERVICIO</ion-button>
    </ion-grid>
  </div>
 <ion-button id="aceptarPuntos" (click)="aceptarPuntos()" >Listo</ion-button>
</ion-content>