<ion-header>
  
</ion-header>

<ion-content>
  
  <ion-toolbar >
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/home" text="" icon="chevron-back-outline">
      </ion-back-button>
      </ion-buttons>
      <ion-title> Mis Viajes</ion-title>
  </ion-toolbar>
  <div id="Viajes">
    <!--<div class="Noticia" *ngFor="let noti of Noticias">
    <h1>{{noti}}</h1>-->
    <div id="card">
      <ion-card>
        <img src="" alt="No Picture">
        <ion-card-header>
          
          <ion-row>
            <ion-card-title> 08/11/2020 2:30PM</ion-card-title>
            <ion-card-title> <ion-text color="success">$4,30</ion-text></ion-card-title>
          </ion-row>
          <ion-card-subtitle>08/11/2020 2:30PM</ion-card-subtitle>
          <ion-card-subtitle>Jordy Medina </ion-card-subtitle>
          <ion-card-subtitle>MUDANZA </ion-card-subtitle>
        </ion-card-header>
        <ion-row>
          <ion-col>
            <ion-icon name="flag-outline"></ion-icon>
            <ion-text>San Marino</ion-text>
          </ion-col>
        <ion-col>
          <ion-icon name="flag"></ion-icon>
            <ion-text>Alborada Calle 3era </ion-text>
          </ion-col>
        </ion-row>
        
      </ion-card>
    </div>
  </div>
 
</ion-content>
